<form class="new-post-form">
    <label for="title">
        post title:
    </label>
    <br />
    <textarea id="title" name="title">
        {{title}}
    </textarea>
    <br />
    <label for="content">
        post content:
    </label>
    <br />
    <textarea id="content" name="content">
        {{content}}
    </textarea>
    <button type="submit" value="Submit">
        Submit
    </button>
</form>

<script src="/js/addpost.js"></script>
