<div class="flex-row justify-center m-3">
    <input type="button" onclick="location.href='/dashboard/addPost';" value="create new post" />
</div>
{{#each blogposts as |blogpost|}}
{{> dashboard-details}}
{{/each}}